<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Infinite List</title>
  <link rel="stylesheet" href="./css/base.css" />
</head>
<body>
  <div class="infinite-list">
    <div class="infinite-list_header"></div>
    <div class="infinite-list_body">
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 01</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 02</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 03</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 04</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 05</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 06</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 07</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 08</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 09</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 10</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 11</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 12</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 13</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 14</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 15</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 16</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 17</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 18</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 19</div>
      <div style="padding: 20px 15px; border-bottom: 1px solid #ddd;">Item 20</div>
    </div>  
    <div class="infinite-list_footer">
      <div class="infinite-list_status">加载更多</div>
    </div>  
  </div>
</body>
</html>